* text=auto

# Configurações do projeto
.gitattributes text eol=lf
.gitignore text eol=lf
.editorconfig text eol=lf
.prettierignore text eol=lf
.prettierrc.json text eol=lf
pyproject.toml text eol=lf

# Código e templates
*.py text eol=lf
*.html text eol=lf
*.js text eol=lf
*.css text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.ini text eol=lf

# PowerShell no Windows
*.ps1 text eol=crlf
