<header class="header">
  <div class="header-inner container">
    <div class="header-brand">
      Genesis
    </div>

    <nav class="header-nav">
      <li><a href="#areas" class="underline-animate">Capacidades</a></li>
      <li><a href="#why" class="underline-animate">Porquê</a></li>
      <li><a href="#benefits" class="underline-animate">Benefícios</a></li>
    </nav>

    <div class="header-actions">
      <a href="/login" class="btn btn-secondary">Entrar</a>
    </div>
  </div>
</header>
